.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @media (min-width: 540px) {
    padding-left: 94px;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    @media (min-width: 540px) {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;
    text-align: center;
    @media (min-width: 540px) {
      margin-top: 1rem;
      font-size: 1.875rem;
      text-align: left;
    }
  }
}
