.generic-content-container {
  p {
    line-height: 1.65;

    @media (min-width: 540px) {
      font-size: 1.125rem;
      /* 18px/16=_rem */
    }

    margin: 1.8rem 0;
  }
  p a {
    font-weight: 700;
    /* 400 is normal */
    /* not all fonts need to be bold so we have written it here 
    and thas y its not written global css scope*/
  }
}
