.large-hero {
  position: relative;
  border-bottom: 10px solid rgb(38, 38, 65);
  /* image is inle so gape xist below */
  /* margin-bottom: 0; */

  &__text-content {
    padding-top: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    color: #2f5572;
    font-size: 2rem;
    /* */
    margin: 0;

    @media (min-width: 530px) {
      font-size: 4.8rem;
    }
    /* @media (min-width: 800px) {
      font-size: 3.2rem;
    }
    @media (min-width: 1200px) {
      font-size: 4.8rem;
    } */
  }

  &__subtitle {
    font-weight: 300;
    color: #2f5572;
    font-size: 1.5rem;
    margin: 0;

    @media (min-width: 530px) {
      font-size: 2rem;
    }
    @media (min-width: 800px) {
      font-size: 3.2rem;
    }
    @media (min-width: 1200px) {
      font-size: 4.8rem;
    }
  }

  &__description {
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    /* 480px is guessed size taken 
    now convert it to rem
    480px/16=30rem
    */
    margin-left: auto;
    margin-right: auto;

    /* take font size of html and multiply by 1.5 
    default =16px so
    1.5*16=24px
    */
    /* so id we want the font-size of 30px so-> 30px/16=1.875 */

    @media (min-width: 530px) {
      font-size: 1.875rem;
    }
    /* @media (min-width: 800px) {
      font-size: 1.9rem;
    }
    @media (min-width: 1200px) {
      font-size: 2rem;
    } */
  }

  &__image {
    display: block;
  }
}
