.primary-nav {
  padding-top: 10px;

  @media (min-width: 540px) {
    padding-top: 0;
  }

  &--pull-right {
    @media (min-width: 540px) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    /* @mixin clearfix; */
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
    @media (min-width: 540px) {
      padding-right: 20px;
      float: left;
      display: block;
    }
  }
  li:last-child {
    padding-right: 0;
    @media (min-width: 540px) {
      padding-right: 20px;
    }
  }

  a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    font-size: 0.8rem;
    background-color: rgba(35, 89, 99, 0.5);

    @media (min-width: 540px) {
      font-size: 1rem;
      padding: 12px 0;
      background-color: transparent;
      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}
